*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
/**/
div.bar-chart {
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	text-align: center;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

section.bar-chart-section {
	text-align: center;
	margin-bottom: 50px;
}

div.bar-chart {
	width: 80%;
}

svg.recharts-surface {
	width: 100%;
	height: 100%;
}

.recharts-wrapper {
	width: 100% !important;
	height: 100% !important;
}

.legend-item-0 {
	height:15px;
	width: 20px;
}

.recharts-legend-item-text {
	font-size: 10px;
}

@media only screen and (max-width: 600px) {
	div.recharts-legend-wrapper {
		position: absolute;
		bottom:25px !important;
		left:50px!important;
	}

	div.bar-chart {
		width: 100%;
		margin:0;
	}

	section.bar-chart-section {
		padding:0;
	}
}
