*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

div.bar-chart {
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	text-align: center;
	background-color: #d3d3d3;
	border: 1px solid black;
}

section.bar-chart-section {
	text-align: center;
	background: #bbb;
}

#root > div > main > div > div > div:nth-child(5) > div > section > div > div > svg {
width: 100%;
}

label {
	padding: 5px;
}