.habit-form {
	font-size: 30px;
}

#habitTitle {
	font-size: 30px;
	color: #555;
}

li.rw-list-option {
	list-style-type: none;
	text-align: center;
	cursor: pointer;
}

input, textarea {
  width: 100%;
  max-width: 500px;
}

.habit-form input[type="radio"] {
	width:auto;
}

.habit-form label {
  display: block;
}

label#goodHabitRadioLabel {
	float:left;
	margin-right: 20%;
}

button.habit-submit {
	width: 30%;
	padding: 5px;
	margin-top: 5px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	z-index: 101;
	transition: all .2s ease-in-out;
	font-size: 20px;
}

button.habit-submit:hover {
	background-color: white;
	color: rgba(106,90,205,.8);
}