div.hero-area {
	padding: 25px;
	width: 100%;
}

.hero-area button {
	width: 19vw;
	border: 2px solid white;
	padding: .5vw;
	margin: 10px;
	cursor: pointer;
	font-size: 2vw;
	transition: all .2s ease-in-out;
}

.sign-up-button {
	background-color: transparent;
	color: white;
}

.sign-up-button:hover {
	background-color: white;
	color: #6A5ACD;
	border: 2px solid #6A5ACD;
}

.learn-more-button {
	background-color: transparent;
	color: white;
}

.learn-more-button:hover {
	background-color: white; 
	color: #6A5ACD;
	border: 2px solid #6A5ACD;
}

.hero-area h4 {
	padding-top: 70px !important;
}


.hero-area svg {
	height: 6vw !important;
	width: 6vw !important;
	transition: all .2s ease-in-out;
}

.hero-area svg:hover {
	color: #28AFB0;
	cursor: pointer;
}

@media only screen and (max-width: 500px) {
	.hero-area button {
		width: 110px;
		font-size: 18px;
	}

	.hero-area h2 {
		font-size:18px!important;
	}

	.hero-area h1 {
		font-size: 50px!important;
		margin-top: 35%;
	}

	.hero-area svg {
		height: 15vw !important;
		width: 15vw !important;

	}

}



