div.info-item {
	background:
	linear-gradient(
	rgb(255,171,74),
	rgb(240,110,71));
	height: 200px;
	margin: 20px;
}

.info-item h4 {
	padding-bottom: 20px;
}

.info-item p {
  	margin: 0 auto;
  	max-width: 450px;
}
