.landing-page-container {
  text-align: center;
}

.hero-area {
	background: 
	linear-gradient(
	rgba(91,192,235,.8),
	rgba(106,90,205,.8)), 
	url('../images/graphs-on-laptop.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
}

.pitch-boxes {
	background-color: #315989;
}

h1 {
  font-size: 4em;
  padding-top: .6em;
}

body {
	font-family: "Open Sans",
  	sans-serif;
  	color: white;
  	line-height: 1.5;
}

section {
  padding: 20px;
}
