.landing-page-container {
  text-align: center;
}

.hero-area {
	background: 
	linear-gradient(
	rgba(40,175,176,.7),
	rgba(106,90,205,.7)),
	url('../images/graphs-on-laptop.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
}

.pitch-boxes {
	background-color: #28AFB0;
	padding: 10%;
}

h1 {
  font-size: 4em;
  padding-top: .6em;
  font-family: 'Corben', cursive;
  font-weight: bold;
}

body {
	font-family: 'Nobile', sans-serif;
  	color: white;
  	line-height: 1.5;
}

section {
  padding: 20px;
}

@media screen and (max-width: 600px) {
		.hero-area h1 {
			font-size: 3em !important;
		}

		.hero-area h2 {
			font-size: .8em;
		}

}

@media screen and (max-width: 500px) {
	.hero-area h1 {
		font-size: 2em !important;
	}
}
