section.listed-habit {
	text-align: left;
	margin: 20px;
}

.listed-habit h3 {
	display:inline-block;
}

.listed-habit p {
	display: inline-block;
	float: right;
	font-size: 13px;
  	margin: 0 auto;
  	max-width: 450px;
}
