.log-habit-button {
	position: fixed;
	top:4px;
	left:10px;
	padding: 5px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	width: 100px;
	cursor: pointer;
	z-index: 101;
	font-size: 20px;
	font-family: 'Nobile', sans-serif;
	transition: all .2s ease-in-out;
}

.log-habit-button:hover {
	background-color: white;
	color: rgb(40,175,176);
}