.login-form button {
	float: right;
	background: transparent;
	border: 2px solid white;
	color: white;
	padding: 5px;
	transition: all .2s ease-in-out;
	margin-top: 5px;
	font-size: 20px;
}

.login-form input {
	font-size: 30px;
}

.login-form button:hover {
	cursor: pointer;
	background-color: white;
	color:#6A5ACD;
	margin-top: 3px;
	margin-right: 3px;
}

.form-error, .form-warning {
	text-align: right;
	color: red;
}

.login-form {
	background-color: #28AFB0;
	font-size: 30px;
	margin-top: 65px;
}

