.navbar-container {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0px;
	z-index: 100;
 	background-color: transparent;
 	color:white;
 	text-align: right;
}

div.navlink-container {
	margin-top: 5px;
	margin-right: 5px;
}

.logged-in-nav {
	background-color: 
}

div.navlink-container:nth-child(2n) {
	border-radius: 50px;
	background-color: #6A5ACD;
	transition: all .2s ease-in-out;
}

div.navlink-container:nth-child(2n):hover {
	background-color: white;
	color: #6A5ACD;
	cursor: pointer;
}

div.navlink-container:nth-child(2n) a:hover {
	color:#6A5ACD;
}

div.navbar-container a {
	color:white;
	font-size: 12px;
}