html, body {
	height: 100%;
	width: 100%;
}

div.container{
	/*add reset */
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
}

h1 {
	text-align: center;
}

li.listed-habit {
	background-color: #bbb;
}

li.listed-habit:nth-child(odd) {
	background-color: #d3d3d3;
}

li.listed-habit:hover {
	cursor:pointer;
	background-color: rgba(0,0,0,.5);
}

a {
	text-decoration: none;
}

a:visited {
	color: #444;
}